# Global
# vim: ft=sshconfig

Compression			yes
ControlMaster			auto
ControlPath			~/.ssh/tmp/%r@%h:%p.sock
ControlPersist			10m
HashKnownHosts			yes
{{- if eq .chezmoi.os "darwin" }}
IdentityAgent			"~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else if eq .chezmoi.os "linux" }}
IdentityAgent			~/.1password/agent.sock
{{ end -}}
PreferredAuthentications	publickey,keyboard-interactive,password
ServerAliveInterval		30
StrictHostKeyChecking		accept-new
VerifyHostKeyDNS		no

Host localhost *.*.*.*
	StrictHostKeyChecking	no
	UserKnownHostsFile	/dev/null
