; vim: ft=gitconfig

[user]
	email = nicolas@karolak.fr
	name = Nicolas Karolak
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID66RASIn4nrxeJ46c/Wt8KVTBS4om90LiF4UJea+jGQ
[push]
	default = simple
	followtags = true
	gpgsign = if-asked
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" }}
	program = "/opt/1Password/op-ssh-sign"
{{ end -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultbranch = main
[help]
	autocorrect = 1
[alias]
	ll = log --oneline
	lp = log --patch
	st = status --short --branch
	last = log -1 HEAD --stat
	cm = commit --message
	rv = remote --verbose
	d = diff
	dv = difftool --tool vimdiff --no-prompt
	gl = config --global --list
	se = !git rev-list --all | xargs git grep -F
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	co = checkout
	frbi = "!f() { git rebase -i $(git log --pretty=oneline --color=always | fzf --ansi | cut -d ' ' -f1)^ ; }; f"
[core]
	excludesfile = ~/.config/git/ignore
[sendemail]
	smtpserver = /usr/bin/mail
	annotate = yes
[diff]
	renamelimit = 5000
[merge]
	autoStash = true
[fetch]
	prune = true
	prunetags = true
[remote "origin"]
	prune = true
	prunetags = true
[rebase]
	autostash = true
[includeIf "gitdir:~/Projects/github.com/SilvrGroup/"]
	path = ~/.config/git/silvr
